.navbar {
  background: #32994c;
  border-radius: 0;
  color: #fff;
  height: 6.5rem;

  .selected {
    i {
      color: #eaedf0;
    }
  }

  i {
    font-size: 3rem;
    color: #fff;
    float: right;
    margin: 1rem;

    &:hover {
      color: #ca410b;
    }
  }

  i.bi-cart3 {
    margin-right: 7rem;
  }

  i.bi-shop-window {
    float: left;
    margin-left: 7rem;
  }

  .cart-number {
    position: absolute;
    right: 5.3rem;
    top: 1.1rem;
    border-radius: 50%;
    color: #fff;
    background: #dc1616;
    padding: 1.1rem 0.9rem;
    font-size: 1.2rem;
  }
}
